body{
    padding: 100px;
    font-family: 'Saira', Courier, monospace;
}

.main-btn{
    width: auto;
    height: auto;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 5px 5px 10px gray;
}

#Transaction-area{
    display: none;
}
.status{
    color: white;
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
}

.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}